$font-path: "../assets/font/" !default;

/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-Black.eot');
  src: url('#{$font-path}CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-Black.woff') format('woff'), url('#{$font-path}CircularStd-Black.ttf') format('truetype'), url('#{$font-path}CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-BlackItalic.eot');
  src: url('#{$font-path}CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-BlackItalic.woff') format('woff'), url('#{$font-path}CircularStd-BlackItalic.ttf') format('truetype'), url('#{$font-path}CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-Bold.eot');
  src: url('#{$font-path}CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-Bold.woff') format('woff'), url('#{$font-path}CircularStd-Bold.ttf') format('truetype'), url('#{$font-path}CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-BoldItalic.eot');
  src: url('#{$font-path}CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-BoldItalic.woff') format('woff'), url('#{$font-path}CircularStd-BoldItalic.ttf') format('truetype'), url('#{$font-path}CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-Medium.eot');
  src: url('#{$font-path}CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-Medium.woff') format('woff'), url('#{$font-path}CircularStd-Medium.ttf') format('truetype'), url('#{$font-path}CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-MediumItalic.eot');
  src: url('#{$font-path}CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-MediumItalic.woff') format('woff'), url('#{$font-path}CircularStd-MediumItalic.ttf') format('truetype'), url('#{$font-path}CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-Book.eot');
  src: url('#{$font-path}CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-Book.woff') format('woff'), url('#{$font-path}CircularStd-Book.ttf') format('truetype'), url('#{$font-path}CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('#{$font-path}CircularStd-BookItalic.eot');
  src: url('#{$font-path}CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('#{$font-path}CircularStd-BookItalic.woff') format('woff'), url('#{$font-path}CircularStd-BookItalic.ttf') format('truetype'), url('#{$font-path}CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}
