.simplidata-chart {

  .chart-button {
    background: #242424 no-repeat center center;
    border-radius: 8px;

    &:hover {
      background-color: #373737;
    }
  }
  .chart-drop {
    // 3px 3px
    background: no-repeat center center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4'%3E%3Cpath fill='%235B5B5B' fill-rule='nonzero' d='M4.945.203A.432.432 0 0 0 4.574 0H.426a.432.432 0 0 0-.371.203.376.376 0 0 0 .006.402l2.074 3.203c.077.12.216.192.365.192.15 0 .288-.073.365-.192L4.939.605a.376.376 0 0 0 .006-.402z'/%3E%3C/svg%3E");
  }

  .chart-calc {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' transform='translate(1 1.2)'%3E%3Cpath d='M5.95 13.6L3.4 11.2M3.4 13.6l2.55-2.4M4.25 4v3.2M5.95 5.6h-3.4M11.05 5.6h3.4M11.05 13.6h3.4M11.05 11.2h3.4'/%3E%3Crect width='17' height='17.6' rx='2.4'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-comment {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M19.604 7.4c-.01 3.31-2.662 5.99-5.937 6h-1.98l-3.166 3.2v-3.2H7.333c-3.279 0-5.937-2.686-5.937-6s2.658-6 5.937-6h6.334c3.275.01 5.928 2.69 5.937 6z'/%3E%3C/svg%3E");
  }
  .chart-line {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' transform='translate(1 1)'%3E%3Crect width='3.75' height='3.667' x='.375' y='13.567' rx='.733'/%3E%3Crect width='3.75' height='3.667' x='13.875' y='.367' rx='.733'/%3E%3Cpath d='M3.905 13.782l10.19-9.964'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-ellipse {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='26' viewBox='0 0 18 26'%3E%3Cellipse cx='26' cy='26' fill='none' fill-rule='evenodd' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' rx='8' ry='12' transform='translate(-17 -13)'/%3E%3C/svg%3E");
  }
  .chart-rectangle {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='24' viewBox='0 0 34 24'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1h32v22H1z'/%3E%3C/svg%3E");
  }
  .chart-measure {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' transform='translate(0 .2)'%3E%3Crect width='18.562' height='5.705' x='-.281' y='5.948' rx='.733' transform='rotate(-45.001 9 8.8)'/%3E%3Cpath d='M3.83 9.823l1.874 1.833M7.01 6.712l1.876 1.833M10.193 3.6l1.875 1.833'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-save {
    @extend .chart-button;
    background-image:
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' transform='translate(1 1)'%3E%3Cpath d='M9 5.625v6.75M5.625 9h6.75'/%3E%3Ccircle cx='9' cy='9' r='9'/%3E%3C/g%3E%3C/svg%3E"),
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4'%3E%3Cpath fill='%235B5B5B' fill-rule='nonzero' d='M4.945.203A.432.432 0 0 0 4.574 0H.426a.432.432 0 0 0-.371.203.376.376 0 0 0 .006.402l2.074 3.203c.077.12.216.192.365.192.15 0 .288-.073.365-.192L4.939.605a.376.376 0 0 0 .006-.402z'/%3E%3C/svg%3E");
    background-position:
      center center,
      bottom 3px right 3px;
  }
  .chart-pencil {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M6.224 17.12l-4.849 1.113 1.138-4.74 11.96-11.697c.281-.275.663-.43 1.06-.43.399 0 .78.155 1.062.43l1.591 1.556c.282.275.44.648.44 1.037 0 .39-.158.762-.44 1.037L6.224 17.121zM17.657 5.946l-3.714-3.631M6.413 16.938l-3.712-3.63'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-text {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='19' viewBox='0 0 15 19'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M1 3.464V2.056c0-.389.323-.704.722-.704h11.556c.399 0 .722.315.722.704v1.408M7.5 1.35v16.193M4.972 17.543h5.056'/%3E%3C/g%3E%3C/svg%3E");
  }

  %unchecked-circle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7.25' fill='none' fill-rule='evenodd' stroke='%235B5B5B' stroke-width='1.5'/%3E%3C/svg%3E");
  }
  %check-circle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-width='1.5'%3E%3Ccircle cx='8' cy='8' r='7.25'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5.579 8.531l.895 1.271a.383.383 0 0 0 .624.019l3.48-3.628'/%3E%3C/g%3E%3C/svg%3E");
  }

  .vue-popover {
    background: rgb(36, 36, 36);
    box-shadow: 0 40px 80px 0 rgba(20, 20, 20, 0.9);
    color: #acacac;
    &.dropdown-position-bottom:before {
      border-bottom-color: rgb(36, 36, 36);
    }
    &.dropdown-position-right:before {
      border-right-color: rgb(36, 36, 36);
    }
  }

  .divisor {
    border-bottom: 1px solid #343434
  }

  .saved-collections a {
    color: #808080;
    &:hover {
      color: white;
    }
  }

  .new-collection {
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' transform='translate(1 1)'%3E%3Cpath d='M9 5.625v6.75M5.625 9h6.75'/%3E%3Ccircle cx='9' cy='9' r='9'/%3E%3C/g%3E%3C/svg%3E") no-repeat center left 10px;
    color: #acacac;
    border-radius: 3px;

    &:hover {
      background-color: #373737;
    }
  }

  .download-collection {
    background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='18px' height='17px' viewBox='0 0 18 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EFD76FCF5-463C-4E4F-8265-F5CB07B1C015%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='2.21-Objeto' transform='translate(-128.000000, -420.000000)' stroke='%23ACACAC' stroke-width='1.5'%3E%3Cg id='Menu' transform='translate(85.000000, 248.000000)'%3E%3Cg id='cloud-download' transform='translate(44.000000, 173.000000)'%3E%3Cpath d='M11.8109091,10.41825 L12.8727273,10.41825 C12.8727273,10.41825 16,9.9975 16,6.831 C16.0006866,5.85746092 15.6168508,4.92562404 14.9369452,4.25022509 C14.2570395,3.57482613 13.3397152,3.21412756 12.3963636,3.25125 C11.4488898,1.17743223 9.25813044,0.0304712295 7.07553433,0.465556734 C4.89293823,0.900642238 3.27449644,2.80694126 3.14472727,5.0955 C2.3760986,4.92880408 1.57555294,5.12822041 0.96546015,5.63835653 C0.355367365,6.14849265 0.000709172682,6.91501336 0,7.725 C0,10.45875 2.78254545,10.416 2.78254545,10.416 L4.16872727,10.416' id='Shape'%3E%3C/path%3E%3Cpath d='M8,14.25 L8,6.75' id='Shape'%3E%3C/path%3E%3Cpolyline id='Shape' points='5.81818182 12.29325 8 14.54325 10.1818182 12.29325'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center left 10px;
    color: #acacac;
    border-radius: 3px;

    &:hover {
      background-color: #373737;
    }
  }

  .rightpanel {
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    h1 {
      font-size: 24px;
    }

    .description {
      font-size: 14px;
      color: #acacac;
    }

    .label {
      font-size: 12px;
      color: white;
    }

    .value {
      font-size: 12px;
      color: #acacac;
    }

    .version {
      cursor: pointer;
      transition: all ease-in-out 400ms;
      background-repeat: no-repeat;
      background-position: left center;
      color: #5b5b5b;
      @extend %unchecked-circle;

      &.selected {
        color: #acacac;
        @extend %check-circle;
      }
    }

    .collapse {
      background: no-repeat center center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='19' viewBox='0 0 8 19'%3E%3Cpath fill='%23A2A2A2' fill-rule='evenodd' d='M.977 18.081c-.079.113-.196.169-.352.169-.182 0-.332-.094-.45-.281A1.248 1.248 0 0 1 0 17.294V1.206C0 .944.059.72.176.531.293.344.443.25.625.25c.13 0 .234.056.313.169l.117.112 6.093 7.65c.235.338.352.694.352 1.069s-.117.731-.352 1.069l-6.093 7.65-.078.112z'/%3E%3C/svg%3E");
      transition: all 200ms;

      &.collapsed {
        transform: rotate(180deg);
      }
    }

    .panelcontent {
      width: 261px;
      transition: all 500ms;

      &.collapsed {
        margin-right: -261px;
        opacity: 0;
      }
    }
  }

  a.btn.basic {
    border: 1px rgba(255, 255, 255, 0.8) solid;
    color: rgba(255, 255, 255, 0.5);
    background: none;
  }

  .form-group {
    margin-bottom: 0 !important;
    margin-top: 5px;
  }

  .transformations {
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;

    .transformationTitle {
      color: white;
      font-weight: 500;
      font-size: 16px;
    }

    .addTransformation {
      text-transform: uppercase;
      font-size: 10px;
    }

    .transformationItem {
      background: #29FD34;
      border-radius: 16px;
      font-size: 10px;

      .removeTransformation {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%231A1A1A' fill-rule='nonzero' d='M7.795 1.195L4.99 4l2.806 2.805a.7.7 0 0 1-.99.99L4 4.989 1.195 7.795a.699.699 0 1 1-.99-.99L3.012 4 .205 1.195a.7.7 0 0 1 .99-.99L4 3.01 6.805.205a.7.7 0 0 1 .99.99z' opacity='.232'/%3E%3C/svg%3E");
      }
    }

    .liTC {
      cursor: pointer;
      border-radius: 3px;
      transition: background ease-in-out 400ms;

      &.selected {
        color: white;
      }
      &:hover {
        background: #1a1a1a;
      }
    }
  }

  .scrim {
    background: rgba(0,0,0,0.4)
  }

  .darkerscrim {
    background: rgba(0,0,0,0.8)
  }

  .searchCombiner {
    background: #1A1A1A !important;
    box-shadow: none !important;
    border-radius: 28px !important;
    line-height: 56px !important;
    padding-left: 20px !important;
  }

  .popup {
    border-radius: 8px;
    box-shadow: 0 40px 80px 0 rgba(20, 20, 20, 0.9);
    background-color: #242424;

    h1 {
      font-size: 24px;
    }

    .submit {
      border-radius: 50px;
      font-weight: 500;
      border: 1px solid;
      color: #29FD34;
    }

    .squared {
      border-radius: 8px;
      border: 1px solid;
      color: #808080;

      &:hover {
        background-color: #373737;
      }
    }
  }

  .close {
    background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='16px' height='16px' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E9475337C-FA8E-4194-81DB-9FD754E37FC5%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.31-Nova-Colecao' transform='translate(-849.000000, -261.000000)' fill='%235B5B5B' fill-rule='nonzero'%3E%3Cg id='Group-6' transform='translate(397.000000, 245.000000)'%3E%3Cg id='close' transform='translate(452.000000, 16.000000)'%3E%3Cpath d='M9.53264813,8.11788619 C9.5013035,8.0866194 9.48368761,8.044165 9.48368761,7.99989108 C9.48368761,7.95561717 9.5013035,7.91316277 9.53264813,7.88189598 L15.707468,1.70748549 C16.0979008,1.31648411 16.0974531,0.682993322 15.7064681,0.292544209 C15.315483,-0.0979049034 14.6820186,-0.0974572134 14.2915857,0.293544153 L8.11743248,6.46528809 C8.08616699,6.49663402 8.04371436,6.51425065 7.99944229,6.51425065 C7.95517022,6.51425065 7.91271759,6.49663402 7.8814521,6.46528809 L1.70729885,0.293544153 C1.316866,-0.0970890529 0.683700044,-0.0972382851 0.293083113,0.293210833 C-0.0975338185,0.683659952 -0.0976830445,1.31685228 0.292749807,1.70748549 L6.46623645,7.88189598 C6.49758108,7.91316277 6.51519697,7.95561717 6.51519697,7.99989108 C6.51519697,8.044165 6.49758108,8.0866194 6.46623645,8.11788619 L0.292749807,14.2929633 C0.0401840372,14.5456587 -0.0583905965,14.9139067 0.0341580165,15.2589919 C0.12670663,15.604077 0.396318153,15.8735727 0.741432536,15.9659625 C1.08654692,16.0583523 1.45473308,15.9596 1.70729885,15.7069047 L7.8814521,9.53182752 C7.91271759,9.50048159 7.95517022,9.48286496 7.99944229,9.48286496 C8.04371436,9.48286496 8.08616699,9.50048159 8.11743248,9.53182752 L14.2915857,15.7069047 C14.6820186,16.0975378 15.3151845,16.0976871 15.7058015,15.707238 C16.0964184,15.3167888 16.0965676,14.6835965 15.7061348,14.2929633 L9.53264813,8.11788619 Z' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
  }

  .legend {
    .item {
      color: white;

      .circle {
        border-radius: 50%;
      }
    }
  }

  .drawing-editor {
    background: #1A1A1A;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .cancel-btn {
    background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='42px' height='26px' viewBox='0 0 42 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3ED222EB48-2E3B-4D0F-A9A3-FE8B1BF2F2FE%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.26-Objeto-Comentário' transform='translate(-582.000000, -393.000000)' stroke='%23ACACAC'%3E%3Cg id='Group-7' transform='translate(327.000000, 301.000000)'%3E%3Cg id='cancel-btn' transform='translate(256.000000, 93.000000)'%3E%3Cpath d='M12,0 L28,0 C34.627417,-1.21743675e-15 40,5.372583 40,12 L40,12 C40,18.627417 34.627417,24 28,24 L12,24 C5.372583,24 8.11624501e-16,18.627417 0,12 L0,12 C-8.11624501e-16,5.372583 5.372583,1.21743675e-15 12,0 Z' id='Combined-Shape-Copy' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='close' transform='translate(16.000000, 8.000000)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath d='M0.25,7.74966667 L7.75,0.249666667' id='Shape'%3E%3C/path%3E%3Cpath d='M7.75,7.74966667 L0.25,0.249666667' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
  }
  .ok-btn {
    background: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='42px' height='26px' viewBox='0 0 42 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EC85EF82C-D598-4667-BBA9-E1109F199F17%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.26-Objeto-Comentário' transform='translate(-630.000000, -393.000000)' stroke='%23FFFFFF'%3E%3Cg id='Group-7' transform='translate(327.000000, 301.000000)'%3E%3Cg id='ok-btn' transform='translate(304.000000, 93.000000)'%3E%3Cpath d='M12,0 L28,0 C34.627417,-1.21743675e-15 40,5.372583 40,12 L40,12 C40,18.627417 34.627417,24 28,24 L12,24 C5.372583,24 8.11624501e-16,18.627417 0,12 L0,12 C-8.11624501e-16,5.372583 5.372583,1.21743675e-15 12,0 Z' id='Combined-Shape-Copy' fill-rule='nonzero'%3E%3C/path%3E%3Cpath d='M16,12.9490016 L17.4330968,15.6398036 C17.5433897,15.8577717 17.7264891,15.9918037 17.9246607,15.999637 C18.1228324,16.0074703 18.3116533,15.8881396 18.4315851,15.6792718 L24,8' id='Shape' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
  }

  .opacity-20 {
    opacity: 0.2;
  }

  .table-chart {
    table {
      td, th {
        border: 1px solid transparent;
        padding: 3px 4px;
        text-align: center;
      }

      td {
        font-size: 13px;
        color: #acacac;

        &:nth-child(even) {
          background: #2a2a2a;
        }
      }

      thead {
        border-bottom: 2px solid #606060;
      }

      th {
        font-size: 15px;
        font-weight: bold;
        color: white;
        padding: 20px 5px 5px 5px;
      }
    }
  }

  .auto-scroll {
    overflow: auto;
  }

  .input-comment {
    box-shadow: none !important;
    font-size: 18px !important;
  }

  .comment-text {
    font-size: 18px;
  }

  .ctx-hor {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='36px' height='16px' viewBox='0 0 36 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4EACB0FD-3760-49C2-9AD5-A921097826A1%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.27-Objeto-Comentário' transform='translate(-636.000000, -403.000000)'%3E%3Cg id='Group-7' transform='translate(327.000000, 301.000000)'%3E%3Cg id='ctx-hor' transform='translate(310.000000, 103.000000)'%3E%3Cpath d='M6.87730096,-1.27758113e-16 L27.122699,1.27758113e-16 C28.6213803,-1.47545164e-16 29.8301157,0.286915525 30.8375231,0.825682903 C31.8449305,1.36445028 32.6355497,2.15506951 33.1743171,3.16247692 C33.7130845,4.16988432 34,5.37861972 34,6.87730096 L34,7.12269904 C34,8.62138028 33.7130845,9.83011568 33.1743171,10.8375231 C32.6355497,11.8449305 31.8449305,12.6355497 30.8375231,13.1743171 C29.8301157,13.7130845 28.6213803,14 27.122699,14 L6.87730096,14 C5.37861972,14 4.16988432,13.7130845 3.16247692,13.1743171 C2.15506951,12.6355497 1.36445028,11.8449305 0.825682903,10.8375231 C0.286915525,9.83011568 9.83634428e-17,8.62138028 -8.51720755e-17,7.12269904 L8.51720755e-17,6.87730096 C-9.83634428e-17,5.37861972 0.286915525,4.16988432 0.825682903,3.16247692 C1.36445028,2.15506951 2.15506951,1.36445028 3.16247692,0.825682903 C4.16988432,0.286915525 5.37861972,1.47545164e-16 6.87730096,-1.27758113e-16 Z' id='Combined-Shape-Copy' stroke='%235B5B5B' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='navigation-menu-horizontal' transform='translate(7.727273, 4.666667)' fill='%235B5B5B'%3E%3Cellipse id='Oval' cx='2.60795455' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3Cellipse id='Oval' cx='15.9375' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3Cellipse id='Oval' cx='9.27272727' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .edit {
    background: no-repeat center center !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='13px' height='13px' viewBox='0 0 13 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E6A68E48C-2A7F-4D18-B6DF-FA5CF98B8050%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='2.28-Objeto-Comentário' transform='translate(-653.000000, -447.000000)' stroke='%23FFFFFF' stroke-width='0.962566845'%3E%3Cg id='Group-6' transform='translate(631.000000, 441.000000)'%3E%3Cg id='edit' transform='translate(23.000000, 7.000000)'%3E%3Cpath d='M3.233,10.1939281 L0,10.9137594 L0.7585,7.84605375 L8.732,0.278097336 C8.91954801,0.100038486 9.17396332,-1.42371953e-14 9.43925,-1.42108547e-14 C9.70453668,-1.41845141e-14 9.95895199,0.100038486 10.1465,0.278097336 L11.2075,1.28453257 C11.395124,1.4625193 11.5005365,1.7039644 11.5005365,1.95572665 C11.5005365,2.2074889 11.395124,2.448934 11.2075,2.62692073 L3.233,10.1939281 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M10.855,2.96334816 L8.3785,0.613575747' id='Shape'%3E%3C/path%3E%3Cpath d='M3.359,10.0753007 L0.884,7.72647728' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  }
  .trash {
    background: no-repeat center center !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='14px' height='15px' viewBox='0 0 14 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4AA5C570-2886-4BB9-9856-2829EA8D372F%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='2.28-Objeto-Comentário' transform='translate(-590.000000, -447.000000)' stroke='%23ACACAC' stroke-width='1.1'%3E%3Cg id='Group-6-Copy' transform='translate(569.000000, 442.000000)'%3E%3Cg id='trash' transform='translate(22.000000, 6.000000)'%3E%3Cpath d='M0.409636364,3.44933333 L11.6138182,1.08441667' id='Shape'%3E%3C/path%3E%3Cpath d='M6.87272727,0.424125 L4.47272727,0.930583333 C4.25986988,0.975042959 4.07360097,1.10184259 3.95507954,1.28296391 C3.83655812,1.46408522 3.79554077,1.68461843 3.84109091,1.89583333 L4.01127273,2.691 L8.01272727,1.846 L7.84254545,1.051375 C7.79774937,0.840456418 7.67038887,0.655859652 7.48849875,0.53821845 C7.30660863,0.420577247 7.08509841,0.379534642 6.87272727,0.424125 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M5.31872727,9.75 L5.31872727,5.6875' id='Shape'%3E%3C/path%3E%3Cpath d='M7.77327273,9.75 L7.77327273,5.6875' id='Shape'%3E%3C/path%3E%3Cpath d='M9.61418182,3.25 L11.046,3.25 L10.2905455,11.8484167 C10.2552721,12.2707272 9.89908529,12.5952002 9.47236364,12.59375 L3.61690909,12.59375 C3.19144399,12.5935061 2.83717172,12.2694811 2.802,11.8484167 L2.23636364,5.07920833' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  }
}
