.simplidata-chart {

  .chart-button {
    background: #242424;
    border-radius: 8px;
  }

  .rightpanel {
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    h1 {
      font-size: 24px;
      color: #29FD34;
    }

    .description {
      font-size: 14px;
      color: #acacac;
    }

    .label {
      font-size: 12px;
      color: white;
    }

    .value {
      font-size: 12px;
      color: #acacac;
    }
  }
}
