.simplidata-chart {

  .chart-button {
    background: #242424cc no-repeat center center;
    border-radius: 8px;
    background-blend-mode: screen;

    &:hover {
      background-color: #373737;
    }

    &.active {
      background-color: #555555;
      &:hover {
        background-color: #555555;
      }
    }
  }
  .chart-drop {
    // 3px 3px
    background: no-repeat center center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4'%3E%3Cpath fill='%235B5B5B' fill-rule='nonzero' d='M4.945.203A.432.432 0 0 0 4.574 0H.426a.432.432 0 0 0-.371.203.376.376 0 0 0 .006.402l2.074 3.203c.077.12.216.192.365.192.15 0 .288-.073.365-.192L4.939.605a.376.376 0 0 0 .006-.402z'/%3E%3C/svg%3E");
  }

  .chart-calc {
    @extend .chart-button;
    background-image:
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='20' viewBox='0 0 19 20'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' transform='translate(1 1.2)'%3E%3Cpath d='M5.95 13.6L3.4 11.2M3.4 13.6l2.55-2.4M4.25 4v3.2M5.95 5.6h-3.4M11.05 5.6h3.4M11.05 13.6h3.4M11.05 11.2h3.4'/%3E%3Crect width='17' height='17.6' rx='2.4'/%3E%3C/g%3E%3C/svg%3E"),
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4'%3E%3Cpath fill='%235B5B5B' fill-rule='nonzero' d='M4.945.203A.432.432 0 0 0 4.574 0H.426a.432.432 0 0 0-.371.203.376.376 0 0 0 .006.402l2.074 3.203c.077.12.216.192.365.192.15 0 .288-.073.365-.192L4.939.605a.376.376 0 0 0 .006-.402z'/%3E%3C/svg%3E");
    background-position:
      center center,
      bottom 3px right 3px;
  }
  .chart-comment {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='18' viewBox='0 0 21 18'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M19.604 7.4c-.01 3.31-2.662 5.99-5.937 6h-1.98l-3.166 3.2v-3.2H7.333c-3.279 0-5.937-2.686-5.937-6s2.658-6 5.937-6h6.334c3.275.01 5.928 2.69 5.937 6z'/%3E%3C/svg%3E");
  }
  .chart-line {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' transform='translate(1 1)'%3E%3Crect width='3.75' height='3.667' x='.375' y='13.567' rx='.733'/%3E%3Crect width='3.75' height='3.667' x='13.875' y='.367' rx='.733'/%3E%3Cpath d='M3.905 13.782l10.19-9.964'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-ellipse {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='26' viewBox='0 0 18 26'%3E%3Cellipse cx='26' cy='26' fill='none' fill-rule='evenodd' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' rx='8' ry='12' transform='translate(-17 -13)'/%3E%3C/svg%3E");
  }
  .chart-rectangle {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='24' viewBox='0 0 34 24'%3E%3Cpath fill='none' fill-rule='evenodd' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M1 1h32v22H1z'/%3E%3C/svg%3E");
  }
  .chart-measure {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' transform='translate(0 .2)'%3E%3Crect width='18.562' height='5.705' x='-.281' y='5.948' rx='.733' transform='rotate(-45.001 9 8.8)'/%3E%3Cpath d='M3.83 9.823l1.874 1.833M7.01 6.712l1.876 1.833M10.193 3.6l1.875 1.833'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-save {
    @extend .chart-button;
    background-image:
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' transform='translate(1 1)'%3E%3Cpath d='M9 5.625v6.75M5.625 9h6.75'/%3E%3Ccircle cx='9' cy='9' r='9'/%3E%3C/g%3E%3C/svg%3E"),
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='4' viewBox='0 0 5 4'%3E%3Cpath fill='%235B5B5B' fill-rule='nonzero' d='M4.945.203A.432.432 0 0 0 4.574 0H.426a.432.432 0 0 0-.371.203.376.376 0 0 0 .006.402l2.074 3.203c.077.12.216.192.365.192.15 0 .288-.073.365-.192L4.939.605a.376.376 0 0 0 .006-.402z'/%3E%3C/svg%3E");
    background-position:
      center center,
      bottom 3px right 3px;
  }
  .chart-pencil {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M6.224 17.12l-4.849 1.113 1.138-4.74 11.96-11.697c.281-.275.663-.43 1.06-.43.399 0 .78.155 1.062.43l1.591 1.556c.282.275.44.648.44 1.037 0 .39-.158.762-.44 1.037L6.224 17.121zM17.657 5.946l-3.714-3.631M6.413 16.938l-3.712-3.63'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-text {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='19' viewBox='0 0 15 19'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2'%3E%3Cpath d='M1 3.464V2.056c0-.389.323-.704.722-.704h11.556c.399 0 .722.315.722.704v1.408M7.5 1.35v16.193M4.972 17.543h5.056'/%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-selector {
    @extend .chart-button;
    background-position-x: 15px;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='14px' height='20px' viewBox='0 0 14 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4D0CC6F4-DF92-4172-B73D-9B9DCD16065A%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='btn-/-sidebar-chart-/-select' transform='translate(-15.000000, -10.000000)' fill-rule='nonzero' stroke='%23ACACAC'%3E%3Cg id='cursor'%3E%3Cg transform='translate(16.000000, 13.000000)'%3E%3Cpath d='M3.3194966,10.4973638 L-0.500587012,13.9499455 L-0.492746719,-1.09606162 L11.2526178,9.10562666 L5.94581549,9.42414773 L8.5888754,15.1151212 L5.96842721,16.2010152 L3.3194966,10.4973638 Z' id='selector'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-undo {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='23px' height='18px' viewBox='0 0 23 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4A93500B-BE05-401B-8562-607CDC75E09A%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='undo' transform='translate(2.000000, 2.000000)' fill-rule='nonzero' stroke='%23979797'%3E%3Cpath d='M7.47729239,8.40293752 C7.46565116,8.40293752 7.45718769,8.40634112 7.45151492,8.41183492 C7.44897163,8.41429796 7.44907204,8.41406377 7.44907204,8.41449187 L7.44907204,12.1887875 L-0.443113706,5.86013673 L7.45336652,-0.447920316 L7.45336652,3.32390219 C7.45336652,3.32604377 7.46271828,3.33525573 7.47767488,3.33547842 C14.0913996,3.39734542 17.935401,6.72531657 19.1524185,11.3780855 L19.6698456,13.3562561 L18.2979409,11.8400875 C15.787997,9.06620808 12.8328256,8.40293752 7.47729239,8.40293752 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-redo {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='22px' height='18px' viewBox='0 0 22 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E5F51569C-0D65-4E3F-B40F-9717C12C2288%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='redo' transform='translate(2.000000, 3.000000)' fill-rule='nonzero' stroke='%23979797'%3E%3Cpath d='M6.99906191,7.86966463 C6.99243709,7.86966463 6.98802663,7.87148338 6.98412048,7.8753624 C6.98088641,7.87857402 6.97983114,7.88109761 6.97983114,7.88528963 L6.97983114,11.6979377 L-0.788141513,5.31062171 L6.98405253,-1.05590521 L6.98405253,2.75419207 C6.98405253,2.76142887 6.99226487,2.76972398 6.99963631,2.76984007 C13.5081107,2.83226945 17.2886492,6.18845969 18.4844858,10.8764139 L18.9969755,12.8854912 L17.6250951,11.3308268 C15.1598562,8.53712869 12.2596896,7.86966463 6.99906191,7.86966463 Z' transform='translate(9.000000, 5.500000) scale(-1, 1) translate(-9.000000, -5.500000) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-font-size {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='25px' height='15px' viewBox='0 0 25 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E2E137312-7A39-42A5-A8E6-6A4D767C0367%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='font-size' fill='%23ACACAC'%3E%3Cpath d='M7.553,15 L6.552,12.426 L2.47,12.426 L1.495,15 L0.13,15 L3.796,5.783 L5.265,5.783 L8.931,15 L7.553,15 Z M4.498,7.109 L2.925,11.243 L6.097,11.243 L4.498,7.109 Z M22.201,15 L20.584,10.842 L13.99,10.842 L12.415,15 L10.21,15 L16.132,0.111 L18.505,0.111 L24.427,15 L22.201,15 Z M17.266,2.253 L14.725,8.931 L19.849,8.931 L17.266,2.253 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
  .chart-remove {
    @extend .chart-button;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='14px' height='15px' viewBox='0 0 14 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4AA5C570-2886-4BB9-9856-2829EA8D372F%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='2.28-Objeto-Comentário' transform='translate(-590.000000, -447.000000)' stroke='%23ACACAC' stroke-width='1.1'%3E%3Cg id='Group-6-Copy' transform='translate(569.000000, 442.000000)'%3E%3Cg id='trash' transform='translate(22.000000, 6.000000)'%3E%3Cpath d='M0.409636364,3.44933333 L11.6138182,1.08441667' id='Shape'%3E%3C/path%3E%3Cpath d='M6.87272727,0.424125 L4.47272727,0.930583333 C4.25986988,0.975042959 4.07360097,1.10184259 3.95507954,1.28296391 C3.83655812,1.46408522 3.79554077,1.68461843 3.84109091,1.89583333 L4.01127273,2.691 L8.01272727,1.846 L7.84254545,1.051375 C7.79774937,0.840456418 7.67038887,0.655859652 7.48849875,0.53821845 C7.30660863,0.420577247 7.08509841,0.379534642 6.87272727,0.424125 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M5.31872727,9.75 L5.31872727,5.6875' id='Shape'%3E%3C/path%3E%3Cpath d='M7.77327273,9.75 L7.77327273,5.6875' id='Shape'%3E%3C/path%3E%3Cpath d='M9.61418182,3.25 L11.046,3.25 L10.2905455,11.8484167 C10.2552721,12.2707272 9.89908529,12.5952002 9.47236364,12.59375 L3.61690909,12.59375 C3.19144399,12.5935061 2.83717172,12.2694811 2.802,11.8484167 L2.23636364,5.07920833' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  %unchecked-circle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Ccircle cx='8' cy='8' r='7.25' fill='none' fill-rule='evenodd' stroke='%235B5B5B' stroke-width='1.5'/%3E%3C/svg%3E");
  }
  %check-circle {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%23ACACAC' stroke-width='1.5'%3E%3Ccircle cx='8' cy='8' r='7.25'/%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M5.579 8.531l.895 1.271a.383.383 0 0 0 .624.019l3.48-3.628'/%3E%3C/g%3E%3C/svg%3E");
  }

  .divisor {
    border-bottom: 1px solid #343434
  }

  .rightpanel {
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    h1 {
      font-size: 24px;
    }

    .description {
      font-size: 14px;
      color: #acacac;
    }

    .label {
      font-size: 12px;
      color: white;
    }

    .value {
      font-size: 12px;
      color: #acacac;
    }

    .version {
      cursor: pointer;
      transition: all ease-in-out 400ms;
      background-repeat: no-repeat;
      background-position: left center;
      color: #5b5b5b;
      @extend %unchecked-circle;

      &.selected {
        color: #acacac;
        @extend %check-circle;
      }
    }

    .collapse {
      background: no-repeat center center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='19' viewBox='0 0 8 19'%3E%3Cpath fill='%23A2A2A2' fill-rule='evenodd' d='M.977 18.081c-.079.113-.196.169-.352.169-.182 0-.332-.094-.45-.281A1.248 1.248 0 0 1 0 17.294V1.206C0 .944.059.72.176.531.293.344.443.25.625.25c.13 0 .234.056.313.169l.117.112 6.093 7.65c.235.338.352.694.352 1.069s-.117.731-.352 1.069l-6.093 7.65-.078.112z'/%3E%3C/svg%3E");
      transition: all 200ms;

      &.collapsed {
        transform: rotate(180deg);
      }
    }

    .panelcontent {
      width: 261px;
      transition: all 500ms;

      &.collapsed {
        margin-right: -261px;
        opacity: 0;
      }
    }
  }

  a.btn.basic {
    border: 1px rgba(255, 255, 255, 0.8) solid;
    color: rgba(255, 255, 255, 0.5);
    background: none;
  }

  .form-group {
    margin-bottom: 0 !important;
    margin-top: 5px;
  }

  .transformations {
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;

    .transformationTitle {
      color: white;
      font-weight: 500;
      font-size: 16px;
    }

    .addTransformation {
      text-transform: uppercase;
      font-size: 10px;
    }

    .transformationItem {
      background: #29FD34;
      border-radius: 16px;
      font-size: 10px;

      .removeTransformation {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%231A1A1A' fill-rule='nonzero' d='M7.795 1.195L4.99 4l2.806 2.805a.7.7 0 0 1-.99.99L4 4.989 1.195 7.795a.699.699 0 1 1-.99-.99L3.012 4 .205 1.195a.7.7 0 0 1 .99-.99L4 3.01 6.805.205a.7.7 0 0 1 .99.99z' opacity='.232'/%3E%3C/svg%3E");
      }
    }

    .liTC {
      cursor: pointer;
      border-radius: 3px;
      transition: background ease-in-out 400ms;

      &.selected {
        color: white;
      }
      &:hover {
        background: #1a1a1a;
      }
    }
  }

  .searchCombiner {
    background: #1A1A1A !important;
    box-shadow: none !important;
    border-radius: 28px !important;
    line-height: 56px !important;
    padding-left: 20px !important;
  }

  .legend {
    .item {
      color: white;

      .circle {
        border-radius: 50%;
      }
    }
  }

  .drawing-editor {
    background: #1A1A1A;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .opacity-20 {
    opacity: 0.2;
  }

  .table-chart {
    table {
      td, th {
        border: 1px solid transparent;
        padding: 3px 4px;
        text-align: center;
      }

      td {
        font-size: 13px;
        color: #acacac;

        &:nth-child(even) {
          background: #2a2a2a;
        }
      }

      thead {
        border-bottom: 2px solid #606060;
      }

      th {
        font-size: 15px;
        font-weight: bold;
        color: white;
        padding: 20px 5px 5px 5px;
      }
    }
  }

  .auto-scroll {
    overflow: auto;
  }

  .input-comment {
    box-shadow: none !important;
    font-size: 18px !important;
  }

  .comment-text {
    font-size: 18px;
  }

  .ctx-hor {
    background: no-repeat center center;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='36px' height='16px' viewBox='0 0 36 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4EACB0FD-3760-49C2-9AD5-A921097826A1%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.27-Objeto-Comentário' transform='translate(-636.000000, -403.000000)'%3E%3Cg id='Group-7' transform='translate(327.000000, 301.000000)'%3E%3Cg id='ctx-hor' transform='translate(310.000000, 103.000000)'%3E%3Cpath d='M6.87730096,-1.27758113e-16 L27.122699,1.27758113e-16 C28.6213803,-1.47545164e-16 29.8301157,0.286915525 30.8375231,0.825682903 C31.8449305,1.36445028 32.6355497,2.15506951 33.1743171,3.16247692 C33.7130845,4.16988432 34,5.37861972 34,6.87730096 L34,7.12269904 C34,8.62138028 33.7130845,9.83011568 33.1743171,10.8375231 C32.6355497,11.8449305 31.8449305,12.6355497 30.8375231,13.1743171 C29.8301157,13.7130845 28.6213803,14 27.122699,14 L6.87730096,14 C5.37861972,14 4.16988432,13.7130845 3.16247692,13.1743171 C2.15506951,12.6355497 1.36445028,11.8449305 0.825682903,10.8375231 C0.286915525,9.83011568 9.83634428e-17,8.62138028 -8.51720755e-17,7.12269904 L8.51720755e-17,6.87730096 C-9.83634428e-17,5.37861972 0.286915525,4.16988432 0.825682903,3.16247692 C1.36445028,2.15506951 2.15506951,1.36445028 3.16247692,0.825682903 C4.16988432,0.286915525 5.37861972,1.47545164e-16 6.87730096,-1.27758113e-16 Z' id='Combined-Shape-Copy' stroke='%235B5B5B' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='navigation-menu-horizontal' transform='translate(7.727273, 4.666667)' fill='%235B5B5B'%3E%3Cellipse id='Oval' cx='2.60795455' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3Cellipse id='Oval' cx='15.9375' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3Cellipse id='Oval' cx='9.27272727' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    &.active {
      background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='34px' height='14px' viewBox='0 0 34 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E0741ABDA-804F-4D5E-AD65-A56C124F7683%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.28-Objeto-Comentário' transform='translate(-637.000000, -404.000000)' fill='%23ACACAC'%3E%3Cg id='Group-7' transform='translate(327.000000, 301.000000)'%3E%3Cg id='ctx-hor-active' transform='translate(310.000000, 103.000000)'%3E%3Cpath d='M6.87730096,-1.27758113e-16 L27.122699,1.27758113e-16 C28.6213803,-1.47545164e-16 29.8301157,0.286915525 30.8375231,0.825682903 C31.8449305,1.36445028 32.6355497,2.15506951 33.1743171,3.16247692 C33.7130845,4.16988432 34,5.37861972 34,6.87730096 L34,7.12269904 C34,8.62138028 33.7130845,9.83011568 33.1743171,10.8375231 C32.6355497,11.8449305 31.8449305,12.6355497 30.8375231,13.1743171 C29.8301157,13.7130845 28.6213803,14 27.122699,14 L6.87730096,14 C5.37861972,14 4.16988432,13.7130845 3.16247692,13.1743171 C2.15506951,12.6355497 1.36445028,11.8449305 0.825682903,10.8375231 C0.286915525,9.83011568 9.83634428e-17,8.62138028 -8.51720755e-17,7.12269904 L8.51720755e-17,6.87730096 C-9.83634428e-17,5.37861972 0.286915525,4.16988432 0.825682903,3.16247692 C1.36445028,2.15506951 2.15506951,1.36445028 3.16247692,0.825682903 C4.16988432,0.286915525 5.37861972,1.47545164e-16 6.87730096,-1.27758113e-16 Z' id='Combined-Shape-Copy' fill-opacity='0.168648098' fill-rule='nonzero'%3E%3C/path%3E%3Cg id='navigation-menu-horizontal' transform='translate(7.727273, 4.666667)'%3E%3Cellipse id='Oval' cx='2.60795455' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3Cellipse id='Oval' cx='15.9375' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3Cellipse id='Oval' cx='9.27272727' cy='2.35122222' rx='2.02840909' ry='2.04166667'%3E%3C/ellipse%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }

  .edit {
    background: no-repeat center center !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='13px' height='13px' viewBox='0 0 13 13' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E6A68E48C-2A7F-4D18-B6DF-FA5CF98B8050%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='2.28-Objeto-Comentário' transform='translate(-653.000000, -447.000000)' stroke='%23FFFFFF' stroke-width='0.962566845'%3E%3Cg id='Group-6' transform='translate(631.000000, 441.000000)'%3E%3Cg id='edit' transform='translate(23.000000, 7.000000)'%3E%3Cpath d='M3.233,10.1939281 L0,10.9137594 L0.7585,7.84605375 L8.732,0.278097336 C8.91954801,0.100038486 9.17396332,-1.42371953e-14 9.43925,-1.42108547e-14 C9.70453668,-1.41845141e-14 9.95895199,0.100038486 10.1465,0.278097336 L11.2075,1.28453257 C11.395124,1.4625193 11.5005365,1.7039644 11.5005365,1.95572665 C11.5005365,2.2074889 11.395124,2.448934 11.2075,2.62692073 L3.233,10.1939281 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M10.855,2.96334816 L8.3785,0.613575747' id='Shape'%3E%3C/path%3E%3Cpath d='M3.359,10.0753007 L0.884,7.72647728' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  }
  .trash {
    background: no-repeat center center !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='14px' height='15px' viewBox='0 0 14 15' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: sketchtool 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E4AA5C570-2886-4BB9-9856-2829EA8D372F%3C/title%3E%3Cdesc%3ECreated with sketchtool.%3C/desc%3E%3Cg id='Design-Dark' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='2.28-Objeto-Comentário' transform='translate(-590.000000, -447.000000)' stroke='%23ACACAC' stroke-width='1.1'%3E%3Cg id='Group-6-Copy' transform='translate(569.000000, 442.000000)'%3E%3Cg id='trash' transform='translate(22.000000, 6.000000)'%3E%3Cpath d='M0.409636364,3.44933333 L11.6138182,1.08441667' id='Shape'%3E%3C/path%3E%3Cpath d='M6.87272727,0.424125 L4.47272727,0.930583333 C4.25986988,0.975042959 4.07360097,1.10184259 3.95507954,1.28296391 C3.83655812,1.46408522 3.79554077,1.68461843 3.84109091,1.89583333 L4.01127273,2.691 L8.01272727,1.846 L7.84254545,1.051375 C7.79774937,0.840456418 7.67038887,0.655859652 7.48849875,0.53821845 C7.30660863,0.420577247 7.08509841,0.379534642 6.87272727,0.424125 Z' id='Shape'%3E%3C/path%3E%3Cpath d='M5.31872727,9.75 L5.31872727,5.6875' id='Shape'%3E%3C/path%3E%3Cpath d='M7.77327273,9.75 L7.77327273,5.6875' id='Shape'%3E%3C/path%3E%3Cpath d='M9.61418182,3.25 L11.046,3.25 L10.2905455,11.8484167 C10.2552721,12.2707272 9.89908529,12.5952002 9.47236364,12.59375 L3.61690909,12.59375 C3.19144399,12.5935061 2.83717172,12.2694811 2.802,11.8484167 L2.23636364,5.07920833' id='Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
  }

  .calcpopover {
    a {
      color: #acacac;

      &:hover {
        background-color: #373737;
      }

      &.active {
        background-color: #555555;
        &:hover {
          background-color: #555555;
        }
      }
    }
  }

  .echart-holder {
    overflow: hidden
  }

  .graphic-editor-overlay {
    textarea {
      box-shadow: none;
      resize: none;
      font-family: CircularStd, sans-serif;
    }
  }

  .graphic-editor-buttons {
    border: 1px solid #242424cc;
    border-radius: 11px;
  }

  input[type="color"] {
    -webkit-appearance: none;
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    box-shadow: none !important;
    padding: 0 !important;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0 !important;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none !important;
  }
}
