.choose-oa {
  font-family: 'CircularStd', sans-serif;

  .searchCombiner {
    background: #1A1A1A !important;
    box-shadow: none !important;
    border-radius: 28px !important;
    line-height: 56px !important;
    padding-left: 20px !important;
  }
}
