.input-date {
  font-family: 'CircularStd', sans-serif;

  input[type=date]::-webkit-inner-spin-button,
  input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  input[type=date]::-webkit-clear-button {
    display: none;
    -webkit-appearance: none;
  }
}
